// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$light-bg: rgba(255, 255, 255, .1);
$light-black: rgba(0, 0, 0, .3);
$black: #000;
//TEXT
$main-color: white;
$light-color: rgba(255, 255, 255, .9);
$soft-color: #ddd;
$dark-color: #2a3447;